body{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.action-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.action-row button{
 
}

.views-header span{
  margin-right: 5px;
}